nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: darkslategrey;
	padding-left: 20px;
	padding-right: 20px;
	color: white;	
	margin: 0px;
}

h1>a {
	color: white;
	text-decoration: none;
}

nav>h1 {
	display: inline;
	padding-top: 20px;
}

nav>ul {
	display: inline;
	float: right;
}

nav>ul>li {
	display: inline;
}