nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: darkslategrey;
	color: white;	
	margin: 0px;
}

nav a {
	color: white;
	text-decoration-line: none;
}

nav table {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

nav td.right {
	text-align: right;
}

nav td {
	margin: auto;
	padding: 0px;
}

nav td>ul {
	display: inline-block;
	list-style: none;
	position: relative;
	top: 50%;
}

nav td>ul>li {
	display: inline;
}

nav td>ul>li:not(:first-child)::before {
  content: ' - ';
}

body>*:not(nav) {
	position: relative;
	top: 70px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.big {
	font-size: 300%;
}