#wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
	text-align: center;
}

body {
	color: white;
	display: flex;
	flex-flow: column;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content span {
	display: inline-block;
}

#end_time {
	font-size: 150%;
	padding: 20px 0;
	font-weight: bold;
}

#fullscreen {
	display: none;
	position: absolute;
	right: 25px;
	bottom: 25px;
	top: unset;
	cursor: pointer;
	outline: 0;
}

body,
#wrapper {
	background-color: #c34614;
}
