.background {
	padding: 0 30px 30px 30px;
}

pre {
	display: inline-block;
	border-style: solid;
	border-radius: 10px;
	border-width: 0;
	border-left-width: 5px;
	border-right-width: 5px;
	background-color: white;
	border-color: purple;
	width: fit-content;
	padding: 10px;
	color: black;
	tab-size: 2;
}