#wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: flex-start;
	margin-top: 90px;
}

body {
	color: black;
	display: flex;
	flex-flow: column;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.big {
	font-size: 300%;
}

#content span {
	display: inline-block;
}

#end_time {
	font-size: 150%;
	padding: 20px 0;
	font-weight: bold;
}

#fullscreen {
	display: none;
	position: absolute;
	right: 25px;
	bottom: 25px;
	top: unset;
	cursor: pointer;
	outline: 0;
}

#calendar-table table {
	border-collapse: collapse;
	box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.1);
	border: none;
}

#calendar-table {
	width: 100%;
	max-width: 1000px;
	overflow: scroll;
	margin: 25px 0px;
}

#calendar-table table {
	width: 100%;
}

#calendar-table table td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#calendar-table td {
	vertical-align: top;
}

#calendar-table table th,
#calendar-table table td {
	padding: 15px 10px;
	text-align: left;
}

#selects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#date-select {
	font-family: sans-serif;
}

#schedule-select,
#date-select {
	width: 250px;
	height: 25px;
	margin: 10px;
}

#calendar-table .today {
	border: 2px solid black !important;
	background-color: rgba(0, 0, 0, 0.05);
}

#calendar-table td.no-periods {
	cursor: not-allowed;
}

#calendar-table td:not(.no-periods) {
	cursor: pointer;
}

.day-schedule {
	padding: 5px;
	margin-top: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

#calendar-today {
	position: relative;
	width: 100%;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px 10px 10px 60px;
	margin: 25px 0px;
}

#calendar-wrapper {
	width: 100%;
	max-width: 1000px;
	box-sizing: border-box;
	padding: 0px 10px;
}

#calendar-today .time {
	position: absolute;
	width: 50px;
	text-align: right;
	vertical-align: middle;
	left: 0px;
	transform: translate(-100%, -50%);
	padding: 0px 5px;
}

#calendar-today #now {
	position: absolute;
	width: calc(100% - 20px);
	left: 10px;
	height: 3px;
	border-radius: 1.5px;
	background-color: rgba(255, 0, 0, 0.5);
	display: none;
	z-index: 100;
	transform: translateY(-50%);
}

#calendar-today #event-wrapper {
	position: relative;
}

#calendar-today .event {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: stretch;
	cursor: pointer;
	outline: 0;
}

#calendar-today .event:hover {
	z-index: 50 !important;
}

#calendar-today .event.selected {
	z-index: 51 !important;
}

#calendar-today .event-child {
	border-radius: 5px;
	box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
	padding: 4px;
	margin: 3px;
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-basis: auto;
	min-width: 0;
}

#calendar-today .event-name {
	padding-right: 5px;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

#calendar-today .event-time {
	padding-right: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
