<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		<%= process.env.INSTANCE_NAME %>
	</title>
	<link rel="stylesheet" href="../schedule/index.css" />
	<include src="include/prelude.ejs"></include>
	<script defer src="../schedule/index.js" type="module"></script>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self';" />
</head>

<body>
	<include src="include/navbar.ejs"></include>
	<include src="include/schedule.ejs"></include>
	<include src="include/advisory.ejs"></include>
</body>

</html>