<div style="text-align: center; width: 100%;">
	<table>
		<tr style="vertical-align: middle;">
			<td style="font-size:2vw;">
				{{prev_name}} {{prev_end}}
			</td>
			<td style="font-size:4vw;">
					< {{current_start}} {{current_name}} {{current_end}} >
			</td>
			<td style="font-size:2vw;">
					{{next_start}} {{next_name}}
			</td>
		</tr>
	</table>
</div>