name: Rust Tests

on:
  push:
    paths:
      - "src"
      - "Cargo.toml"
      - "Cargo.lock"
  pull_request:
    paths:
      - "src"
      - "Cargo.toml"
      - "Cargo.lock"
  workflow_dispatch:

jobs:
  test-rs:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-03-25
          profile: minimal
          components: clippy
          override: true
      - name: Annotate commit with clippy warnings
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --features ws
